nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #52769a;
    border-radius: 8px;
    font-size: 0;
}

nav li {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(201, 11, 11);
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

li:nth-child(1) {
    width: 130px;
}

li:nth-child(2) {
    width: 240px;
}

li:nth-child(3) {
    width: 170px;
}

nav .start-home,
li:nth-child(1):hover~.animation {
    width: 200px;
    left: 0;
    background-color: #1abc9c;
}

nav .start-portefolio,
li:nth-child(2):hover~.animation {
    width: 180px;
    left: 200px;
    background-color: #e74c3c;
}

nav .start-contact,
li:nth-child(3):hover~.animation {
    width: 210px;
    left: 380px;
    background-color: #3498db;
}


body {
    font-size: 12px;
    font-family: sans-serif;
    background: #233240;
    margin: -8px;
    background: linear-gradient(#0e141a, #195d9c);
}

h1 {
    text-align: center;
    margin: 0px 0 0px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}

